/*
	Footer
 */
#footer {
  border-top: none;
  padding: 40px 0;
  position: relative;
  background: #f4f4f4;
}
#footer > .container {
  max-width: 1170px;
  width: 100%;
}
.sitemap h6 {
  font-weight: 600;
  font-size: 13px;
}
.sitemap ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.sitemap ul li a {
  color: #999;
}
.sitemap .no-heading ul {
  margin-top: 30px;
}
.sitemap {
  margin-bottom: 50px;
}
.copyright-info {
  border-top: 1px solid #ccc;
  padding-top: 30px;
}
.copyright-info > .container {
  max-width: 1170px;
}
.copyright-info a {
  color: #999;
}
.copyright-info {
  color: #e4e4e4;
}
.copyright-text {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #999;
}
#footer .copyright-info {
  border-top: none;
}
#footer .go-top {
  width: 100%;
}
#footer .go-top .scrollToTop {
  position: absolute;
  bottom: -1px;
  right: 0;
  display: block;
  text-align: center;
  font-size: 12px;
  width: 164px;
  height: 60px;
  color: #428abe;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 25px;
  padding: 10px 30px;
}
#footer .sitemap h6 {
  text-transform: uppercase;
}
#footer .sitemap-directory .sitemap ul li a {
  line-height: 25px;
  color: #414141;
}
/* col-sm (SMALL) */
@media only screen and (max-width: 767px) {
  #footer .go-top .scrollToTop {
    margin-right: 100px;
  }
  #footer .sitemap-directory .sitemap {
    text-align: center;
  }
}
/* end Footer revamp */
