#pre-reg .banner {
  height: 600px !important;
}
#pre-reg .banner-desktop {
  background-image: url('https://d3p0bla3numw14.cloudfront.net/fpi/banner/FPI-2017-Slider-Desktop.jpg');
}
#pre-reg .banner-tablet {
  background-image: url('https://d3p0bla3numw14.cloudfront.net/fpi/banner/FPI-2017-Slider-Mobile.jpg');
}
#pre-reg .banner-mobile {
  background-image: url('https://d3p0bla3numw14.cloudfront.net/fpi/banner/FPI-2017-Slider-Tablet.jpg');
}
